{% extends "index.html" %}
{% load static %}
{% load crispy_forms_tags %}
<!-- main content of appartment page views -->
{% block parus %}
    <!-- Begin Content -->
    <div class="col-md-6">
        <!-- General Unify Forms -->
        <div class="card mt-3">
            <div class="card-header">
                <b class="card-title m-0 text-uppercase a">Отчет по проживающим</b>
            </div>
            <form class="sky-form card-body" method="post" autocomplete="off" role="form" name="gest_frm" id="gest_frm">
                {% csrf_token %}
                <fieldset>
                    <div class="row">
                        <section class="col col-6 form-group">
                            <label class="label" for="start"><b>Start date</b></label>
                            <input class="form-control" type="date" name="start" id="start"/>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6 form-group">
                            <label class="label" for="start"><b>Finish date</b></label>
                            <input class="form-control" type="date" name="finish" id="finish"/>
                        </section>
                    </div>
                </fieldset>
                <button type="submit" class="btn btn-primary">Создать отчет</button>
            </form>
        </div>
    </div>
{% endblock parus %}